In [10]:
x1 = float(input('Enter x1: '))
y1 = float(input('Enter y1: '))
x2 = float(input('Enter x2: '))
y2 = float(input('Enter y2: '))
d = ((x2-x1)+(y2-y1))
print('Distance = %f' %(d))

Enter x1:  1
Enter y1:  2
Enter x2:  3
Enter y2:  4

Distance = 4.000000

In [12]:
num1=int(input("enter no one: "))
num2=int(input("enter no two: "))
sum=num1+num2;
print("sum of ",num1,"and",num2,"=",sum)

enter no one:  5
enter no two:  6

sum of  5 and 6 = 11

In [9]:
print(type('a'))
print(type("hello"))
print(type('a'))
print(type('char'))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [5]:
print(type(1))

<class 'int'>